{% extends 'base/base.html' %}

{% load static %}

{% block content %}



<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <br>
        <br>
        <p>
        <h2>О нас</h2>
        <br>
        "Das Auto" - это магазин по продаже немецких автомобилей</p>
        <p>У нас одновременно представлено более 20 современных моделей </p>
        <p>Это мощные BMW, элегантные Mercedes, практичные Volkswagen и ультратехнологичные Audi. Любой из этих автомобилей может стать для вас верным спутником и наджёным помощником</p>
        <p>Агрессивные и элегантные, стильные и современные -</p>
        <p>все они ждут своего владельца!</p>
        <br>
        <br>
    </div>
    
  </div>
</div>



{% endblock content %}